platform/terraform/.terraform/
platform/terraform/schema.json
.terragrunt-cache/
platform/terragrunt/**/*.tfstate
platform/terragrunt/**/*.tfstate.backup
platform/terragrunt/**/.terraform.lock.hcl
platform/ansible/inventory/hosts.*.ini.generated
platform/ansible/inventory/dev.ini
platform/ansible/inventory/stage.ini
platform/ansible/inventory/prod.ini
platform/ansible/inventory/all.ini
platform/ansible/.ssh/
platform/ansible/.secrets/
platform/ansible/kubeconfig
platform/ansible/playbooks/kubeconfig
platform/terraform/.terraform.lock.hcl
