#cloud-config
hostname: ${hostname}
users:
  - name: ansible
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJuWkPR+Y0sH478sr0MqR3AhSVohoYQLvOsehR0VELxq admin@w237.net
 # Replace with your actual SSH public key
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
package_update: true
package_upgrade: true
packages:
  - ansible
  - openssh-server
  - curl
  - tar
runcmd:
  - systemctl enable ssh
  - systemctl start ssh