#cloud-config
hostname: ${hostname}
users:
  - name: ivan
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC...  # Replace with your actual SSH public key
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
package_update: true
package_upgrade: true
packages:
  - ansible
  - openssh-server
  - curl
  - tar
runcmd:
  - systemctl enable ssh
  - systemctl start ssh