[defaults]
roles_path = ./roles/rke2-ansible/roles:./roles
inventory = ./inventory/hosts.ini.generated
host_key_checking = True
retry_files_enabled = False
stdout_callback = default

[ssh_connection]
pipelining = True