#cloud-config
hostname: ${hostname}
users:
  - name: ${ansible_user}
    groups: sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_public_key}
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
package_update: true
package_upgrade: true
packages:
  - openssh-server
  - curl
  - tar
runcmd:
  - systemctl enable ssh
  - systemctl start ssh